In [1]:
import pandas as pd      
import numpy as np 
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [2]:
#pip list

In [2]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    score = r2_score(actual, pred)
    return print(" r2_score:", score, "\n","mae:", mae, "\n","mse:",mse, "\n","rmse:",rmse)

In [4]:
df=pd.read_csv("../data/final_scout_not_dummy.csv")
pd.set_option('display.max_columns', None)

In [5]:
df.head(1)

,make_model,body_type,price,vat,km,Type,Fuel,Gears,Comfort_Convenience,Entertainment_Media,Extras,Safety_Security,age,Previous_Owners,hp_kW,Inspection_new,Paint_Type,Upholstery_type,Gearing_Type,Displacement_cc,Weight_kg,Drive_chain,cons_comb
0,Audi A1,Sedans,15770,VAT deductible,56013.0,Used,Diesel,7.0,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Catalytic Converter,Voice Control","ABS,Central door lock,Daytime running lights,D...",3.0,2.0,66.0,1,Metallic,Cloth,Automatic,1422.0,1220.0,front,3.8

In [45]:
df.shape

(15915, 23)

In [46]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'Type', 'Fuel',
       'Gears', 'Comfort_Convenience', 'Entertainment_Media', 'Extras',
       'Safety_Security', 'age', 'Previous_Owners', 'hp_kW', 'Inspection_new',
       'Paint_Type', 'Upholstery_type', 'Gearing_Type', 'Displacement_cc',
       'Weight_kg', 'Drive_chain', 'cons_comb'],
      dtype='object')

In [47]:
df.age.unique()

array([3., 2., 1., 0.])

In [48]:
df.hp_kW.unique()

array([ 66., 141.,  85.,  70.,  92., 112.,  60.,  71.,  67., 110.,  93.,
       147.,  86., 140.,  87.,  81.,  82., 135., 132., 100.,  96., 162.,
       150., 294., 228., 270., 137., 133.,  77., 101.,  78., 103.,  74.,
       118.,  84.,  88.,  80.,  76., 149.,  51.,  44.,  55.,  52.,  63.,
        40.,  65.,  75., 125., 120., 184., 239., 121., 143., 191.,  89.,
       195., 127., 122., 154., 155., 104., 123., 146.,  90.,  56.,  53.,
        54., 164., 163.,  57., 119., 165., 117., 115.,  98., 168., 167.])

In [10]:
df.hp_kW.min()

40.0

In [11]:
df.hp_kW.max()

294.0

In [11]:
df.km.nunique()

6691

In [12]:
df.km.max()

317000.0

In [13]:
df.km.min()

0.0

In [12]:
df.Gearing_Type.unique()

array(['Automatic', 'Manual', 'Semi-automatic'], dtype=object)

In [49]:
new_list=["age", "hp_kW", "km", "Gearing_Type", 'make_model']

In [50]:
X=df[new_list]
y=df['price']
X=pd.get_dummies(X)

In [51]:
X.sample(5)

,age,hp_kW,km,Gearing_Type_Automatic,Gearing_Type_Manual,Gearing_Type_Semi-automatic,make_model_Audi A1,make_model_Audi A2,make_model_Audi A3,make_model_Opel Astra,make_model_Opel Corsa,make_model_Opel Insignia,make_model_Renault Clio,make_model_Renault Duster,make_model_Renault Espace
3411,2.0,81.0,96000.000000,0,0,1,0,0,1,0,0,0,0,0,0
10041,0.0,66.0,10.000000,1,0,0,0,0,0,0,1,0,0,0,0
6641,2.0,110.0,53836.000000,1,0,0,0,0,0,1,0,0,0,0,0
7991,0.0,81.0,1647.362609,0,1,0,0,0,0,1,0,0,0,0,0
9740,1.0,66.0,16451.000000,0,1,0,0,0,0,0,1,0,0,0,0

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [53]:
from sklearn.ensemble import RandomForestRegressor
rf_model=RandomForestRegressor()
rf_model.fit(X_train, y_train)

RandomForestRegressor()

In [54]:
y_pred = rf_model.predict(X_test)

In [55]:
eval_metrics(y_test,y_pred)

 r2_score: 0.9233916628930222
 mae: 1157.8903492570262
 mse: 3989808.3633223716
 rmse: 1997.450465799433

**deployment**

In [56]:
import pickle
pickle.dump(rf_model, open('rf_model_new', 'wb'))

In [57]:
richard_model = pickle.load(open('rf_model_new', 'rb'))

In [58]:
columns=list(X.columns)
columns

['age',
 'hp_kW',
 'km',
 'Gearing_Type_Automatic',
 'Gearing_Type_Manual',
 'Gearing_Type_Semi-automatic',
 'make_model_Audi A1',
 'make_model_Audi A2',
 'make_model_Audi A3',
 'make_model_Opel Astra',
 'make_model_Opel Corsa',
 'make_model_Opel Insignia',
 'make_model_Renault Clio',
 'make_model_Renault Duster',
 'make_model_Renault Espace']

In [59]:
my_dict = {
    "age": 2,
    "hp_kW": 105,
    "km": 100000,
    "Gearing_Type":"Automatic",
    "make_model": 'Audi A3'
}

In [60]:
df = pd.DataFrame.from_dict([my_dict])

In [61]:
df.head()

   age  hp_kW      km Gearing_Type make_model
0    2    105  100000    Automatic    Audi A3

In [62]:
df = pd.get_dummies(df)
df

   age  hp_kW      km  Gearing_Type_Automatic  make_model_Audi A3
0    2    105  100000                       1                   1

In [63]:
df = pd.get_dummies(df).reindex(columns=columns, fill_value=0)

In [64]:
df.head()

,age,hp_kW,km,Gearing_Type_Automatic,Gearing_Type_Manual,Gearing_Type_Semi-automatic,make_model_Audi A1,make_model_Audi A2,make_model_Audi A3,make_model_Opel Astra,make_model_Opel Corsa,make_model_Opel Insignia,make_model_Renault Clio,make_model_Renault Duster,make_model_Renault Espace
0,2,105,100000,1,0,0,0,0,1,0,0,0,0,0,0

In [65]:
prediction = richard_model.predict(df)
print(prediction)

[19191.03]

In [66]:
print("The estimated price of your car is €{}. ".format(int(prediction[0])))

The estimated price of your car is €19191.